button.primary {
    /* Set values for some default attributes */
    /* --bgcolor: var(--mimosa);
    --color: var(--cucumber);
    --font: 15px 'Lucida Handwriting';
    --padding:15px;
    --txtshadow: 0 2px 5px rgb(39, 39, 39); */

    background: var(--mimosa);
    color: var(--cucumber);
    padding: 15px;
    font: 15px 'Lucida Handwriting';    
    border-radius: 15px;
    text-shadow: 0 2px 5px rgb(39, 39, 39);

    /* Some new styles */
    border: 0;
    box-shadow: 0 0 20px rgb(39, 39, 39);
    border-radius: 10px;
}